@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#tittle {
    border: solid white;
    width: 100vw; 
    height: 60px;
    background-color: #000000;
    color: white;
    border-bottom: black;
    border-left: black;
}

#tittle h2 {
    margin-left: 50px;
    margin-top: 12px;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
}

#tittle-2 {
    width: 100vw;
    height: 820px;
    padding-top: 100px;
}

#tittle-2 h1 {
    color: white;
    width: 1100px;
    height: 220px;
    font-size: 80px;
    font-weight: 500;
    font-style: italic;
    margin-left: 60px;
    padding-top: 50px;
    color: black;
    
}

#tittle-i {
    width: 100vw;
    height: 500px;
    display: inline-flex;
    justify-content: space-evenly;
}

#tittle-i img {
    width: 780px;
    height: 450px;
    border-radius: 5px;
}

#group-1 {
    width: 100vw;
    height: 250px;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 360px;
    margin-top: 15px;
}

#sub-text-1 {
    width: 700px; 
}

#text-1 {
    width: 500px;
}

#group-1 h1 {
    padding-bottom: 50px;
    font-size: 35px;
    font-weight: 500;
}

#group-1 p {
    font-size: 30px;
    width: 750px;
}

#tittle-3 {
    width: 100vw;
    height: 820px;
    padding-top: 100px;
}

#tittle-i-2 {
    width: 100vw;
    height: 500px;
    display: inline-flex;
    justify-content: space-evenly;
}

#tittle-i-2 img {
    width: 780px;
    height: 450px;
    border-radius: 5px;
}

#group-2 {
    width: 100vw;
    height: 250px;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 360px;
}

#sub-text-2 {
    width: 700px; 
}

#text-2 {
    width: 500px;
}

#group-2 h1 {
    padding-bottom: 50px;
    font-size: 35px;
    font-weight: 500;
}

#group-2 p {
    font-size: 30px;
    width: 750px;
}

#tittle-i-3 {
    width: 100vw;
    height: 500px;
    padding-left: 150px;
}

#tittle-i-3 img {
    width: 780px;
    height: 450px;
    border-radius: 5px;
}

#group-3 {
    width: 100vw;
    height: 250px;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-top: 15px;
}

#text-3 {
    width: 500px;
    margin-left: 35px;
}

#group-3 h1 {
    padding-bottom: 50px;
    font-size: 35px;
    font-weight: 500;
}

#group-3 p {
    font-size: 30px;
    width: 750px;
}

#tittle-3 {
    width: 100vw;
    height: 250px;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 400px;
}

#tittle-3-pic img {
    width: 600px;
    height: 400px;
}

#tittle-3-h1 {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

#tittle-3-h1 h1 {
    font-weight: 400;
}

#tittle-5 {
    width: 100vw;
    height: 820px;
    padding-top: 100px;
    margin-bottom: 100px;
}

#tittle-5 h1 {
    color: white;
    width: 1100px;
    height: 220px;
    font-size: 80px;
    font-weight: 500;
    font-style: italic;
    margin-left: 60px;
    padding-top: 50px;
    color: black;
    
}

#tittle-i-5 {
    width: 100vw;
    height: 500px;
    display: inline-flex;
    justify-content: space-evenly;
}

#tittle-i-5 img {
    width: 780px;
    height: 450px;
    border-radius: 5px;
}

.group-4 {
    width: 100vw;
    height: 250px;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 360px;
}

.pic-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px; 
}

.pic-4 img{
    width: 600px;
    height: 400px;
}

.text-4 {
    width: 500px;
}

.group-4 h1 {
    padding-bottom: 20px;
    font-size: 35px;
}

.group-4 p {
    font-size: 30px;
    width: 650px;
}

#final-group {
    width: 100vw;
    height: 290px;
    font-size: 30px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

#final-group {
    width: 100vw;
    height: 410px;
    display: inline-flex;
    justify-content: space-around;
}

#final-text {
    width: 500px;
}

#final-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px; 
}

#final-pic img {
    width: 600px;
    height: 400px;
}


.footer{
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center; 
    position: relative;
}

.empresa-2{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 140px;
    
}

.empresa-2 > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.empresa-2 > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.produtos{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF; 
    margin-left: 40px;
}

.produtos > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.produtos > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cidadania{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 40px;
}

.cidadania > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.cidadania > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contato{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 40px;
}

.contato > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.contato > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.redes{
    width: 600px; height: 50px;
    position: absolute;
    margin-top: 380px;
    margin-left: 100px;
    font-size: 17px;
    word-spacing: 150px;
    color: white;
    cursor: pointer;
}

.barra{
    position: absolute;
    width: 100vw; height: 1px;
    background-color: #EAEDF3;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 450px;
    
}

.barra > p{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin-top: 53px;
    letter-spacing: 3px;
}

