@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: whitesmoke;
}

#tittle {
    border: solid black;
    width: 100vw; 
    height: 60px;
    background-color: #000000;
    color: white;
    border-bottom: black;
    border-left: black;
}

#tittle h2 {
    margin-left: 50px;
    margin-top: 12px;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
}

#titulo {
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: black;
}

#titulo h1 {
    color: white;
    font-size: 68px;
    font-weight: 500;
    width: 650px;
    padding-left: 80px;
}

#programadores {

    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#programadores h2 {
    font-size: 40px;
    font-weight: 400;
    padding-left: 50px;
}

#perfil {
    
    display: inline-flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 700px;
}

#gustavo {
    border: solid white;
    background-color: white;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    box-shadow: 0px 0px 20px 0px silver;
    cursor: pointer;
}

#gustavo:hover {
    transition: 0.5s;
    box-shadow: 0 0 15px 5px gray;
    padding-bottom: 130px;
}
#gustavo:not(:hover) {
    transition: 1s;
    box-shadow: 0px 0px 20px 0px silver;
}

#gustavo img {
    width: 340px;
    height: 365px;
    border-radius: 50%;
    margin-bottom: 40px;
}

#gustavo h2 {
    font-size: 30px;
    font-weight: 300;
}

#matheus {
    border: solid white;
    background-color: white;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    box-shadow: 0px 0px 20px 0px silver;
    cursor: pointer;
}

#matheus:hover {
    transition: 0.5s;
    box-shadow: 0 0 15px 5px gray;
    padding-bottom: 130px;
}
#matheus:not(:hover) {
    transition: 1s;
    box-shadow: 0px 0px 20px 0px silver;
}

#matheus img {
    width: 335px;
    height: 385px;
    border-radius: 50%;
    margin-bottom: 40px;
}

#matheus h2 {
    font-size: 30px;
    font-weight: 300;
}

#william {
    border: solid white;
    background-color: white;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    box-shadow: 0px 0px 20px 0px silver;
    cursor: pointer;
}

#william:hover {
    transition: 0.5s;
    box-shadow: 0 0 15px 5px gray;
    padding-bottom: 130px;
}
#william:not(:hover) {
    transition: 1s;
    box-shadow: 0px 0px 20px 0px silver;
}

#william img {
    width: 340px;
    height: 380px;
    border-radius: 50%;
    margin-bottom: 40px;
}

#william h2 {
    font-size: 30px;
    font-weight: 300;
}


.footer{
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center; 
    position: relative;
}

.empresa-2{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 140px;
    
}

.empresa-2 > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.empresa-2 > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.produtos{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF; 
    margin-left: 40px;
}

.produtos > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.produtos > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cidadania{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 40px;
}

.cidadania > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.cidadania > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contato{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 40px;
}

.contato > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.contato > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.redes{
    width: 600px; height: 50px;
    position: absolute;
    margin-top: 380px;
    margin-left: 100px;
    font-size: 17px;
    word-spacing: 150px;
    color: white;
    cursor: pointer;
}

.barra{
    position: absolute;
    width: 100vw; height: 1px;
    background-color: #EAEDF3;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 450px;
    
}

.barra > p{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin-top: 53px;
    letter-spacing: 3px;
}
