@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#tittle {
    border: solid white;
    width: 100vw; 
    height: 60px;
    background-color: #000000;
    color: white;
    border-bottom: black;
    border-left: black;
}

#tittle h2 {
    margin-left: 50px;
    margin-top: 12px;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
}

#tittle-2 {
    width: 100vw;
    height: 900px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;
    background-color: black;
}

#tittle-2 h1 {
    color: white;
    width: 600px;
    height: 450px;
    font-size: 150px;
    font-weight: 400;
    font-style: italic;
}
#first-pic img{
    width: 850px;
    height: 680px;
    border-radius: 20px;
}

#big-group-1 {
    width: 100vw;
    height: 1000px;
    display: inline-flex;
    justify-content: space-evenly;
}

#group-1 {
    width: 600px;
    height: 700px;
}

#pic-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-bottom: 40px;
}

#pic-1 img{
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

#text-1 {
    width: 500px;
    padding-left: 5px;
}

#group-1 h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 400;
}

#group-1 p {
    font-size: 25px;
    font-weight: 400;
}

#group-2 {
    width: 600px;
    height: 700px;
}

#pic-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-bottom: 40px; 
}

#pic-2 img{
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

#text-2 {
    width: 500px;
    padding-left: 2px;
}

#group-2 h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 400;
}

#group-2 p {
    font-size: 25px;
}

#group-3 {
    width: 600px;
    height: 700px;
}

#pic-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-bottom: 40px;
}

#pic-3 img{
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

#text-3 {
    width: 500px;
}

#group-3 h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 400;
}

#group-3 p {
    font-size: 25px;
}

#tittle-3 {
    width: 100vw;
    height: 250px;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 400px;
}

#tittle-3-pic img {
    width: 600px;
    height: 400px;
}

#tittle-3-h1 {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

#tittle-3-h1 h1 {
    font-weight: 400;
}

#big-group-2 {
    width: 100vw;
    height: 1000px;
    display: inline-flex;
    justify-content: space-evenly;
}

#group-4 {
    width: 600px;
    height: 700px;
}

#pic-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-bottom: 40px;
}

#pic-4 img{
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

#text-4 {
    width: 500px;
    padding-left: 5px;
}

#group-4 h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 400;
}

#group-4 p {
    font-size: 25px;
    font-weight: 400;
}

#group-5 {
    width: 600px;
    height: 700px;
}

#pic-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-bottom: 40px; 
}

#pic-5 img{
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

#text-5 {
    width: 500px;
    padding-left: 5px;
}

#group-5 h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 400;
}

#group-5 p {
    font-size: 25px;
    font-weight: 400;
}

#group-6 {
    width: 600px;
    height: 700px;
}

#pic-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-bottom: 40px; 
}

#pic-6 img{
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

#text-6 {
    width: 500px;
    padding-left: 5px;
}

#group-6 h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 400;
}

#group-6 p {
    font-size: 25px;
    font-weight: 400px;
}

#vem-conhecer {
 
    width: 100vw;
    height: 400px;
    display: inline-flex;
    align-items: center;
    background-color: whitesmoke;
    
}

#texto {
    width: 400px;
    margin-left: 80px;
    margin-right: 800px;
}

#texto h1 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 40px;
}

#texto a {
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: solid 1px grey;
    padding-bottom: 5px;
    padding-left: 15px;
    color: black;
}

#texto a:hover {
    font-weight: 400;
    border-bottom: solid 3px black;
}

#foto img {
    width: 350px;
    height: 450px;
}

.footer{
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center; 
    position: relative;
}

.empresa-2{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 140px;
    
}

.empresa-2 > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.empresa-2 > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.produtos{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF; 
    margin-left: 40px;
}

.produtos > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.produtos > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cidadania{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 40px;
}

.cidadania > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.cidadania > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contato{
    margin-top: 100px;
    width: 250px; height: 270px;
    color: #FFFFFF;
    margin-left: 40px;
}

.contato > h1{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.contato > a{
    position: relative; top: 15px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.redes{
    width: 600px; height: 50px;
    position: absolute;
    margin-top: 380px;
    margin-left: 100px;
    font-size: 17px;
    word-spacing: 150px;
    color: white;
    cursor: pointer;
}

.barra{
    position: absolute;
    width: 100vw; height: 1px;
    background-color: #EAEDF3;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 450px;
    
}

.barra > p{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin-top: 53px;
    letter-spacing: 3px;
}

