@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* https://www.uber.com/br/pt-br/ -- ESTOU USANDO O SITE DA UBER COMO BASE */


body{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    ;
}

.top{
    width: 100vw; height: 70px;
    justify-content: center;
    align-items: center; 
    display: inline-flex;
    background-color: #000000;
}

.top > img{
    width: 50px;
    height:50px;
    position: relative; right: 270px; top: 0px;
    color: rgb(255, 255, 255);
}

.top nav{
    justify-content: center;
    align-items: center; 
    display: inline-flex;
}

.top li{
    display: inline;
    justify-content: center;
}

.top li > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 17px;
    padding: 0px 30px;
}

.login{
    position: relative; left: 250px;
    width: 100px; height: 50px;
    border-radius: 10px;
    background-color: #000000;
    border-width: 2px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 17px;
    border-color: #2A2438;
    border-style: groove;
    cursor: pointer;
    border: none;
}

.cadastro{
    position: relative; left: 250px;
    width: 120px; height: 40px;
    border-radius: 25px;
    background-color: #FFFF;   
    border-width: 2px;
    color: #2A2438;
    font-weight: 700;
    font-size: 17px;
    border-color: #2A2438;
    border-style: solid;
    cursor: pointer;
    margin-left: 10px;
}

.main{
    width: 100vw; height: 885px;
}

.main > img{
    width: 100vw; height: 92vh;
}

.nav-links{
    height: 700px; width: 700px;
    display: flex;
    padding: 0px 0px;
    position: relative; bottom: 800px; left: 250px;
    text-decoration: none;
    text-align: center;
    background-color: white;
}

.item-menu{
    height: 150px; 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(246, 246, 246);
}

.bi{
    position: relative; top: 20px;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.empresa{
    text-decoration: none;
    color: #2A2438;
    font-size: 20px;
    height: 100%; width: 100%;
}

.text-list-home{
    position: relative; top: 30px; left: 135px;
    display: flex;
    font-size: 19px;
    width: 5px;
    height: 50px;
    cursor: pointer;
    font-weight: 600;
}

.usuario{
    text-decoration: none;
    color: #2A2438;
    font-size: 20px;
    height: 100%; width: 100%;
}

.text-list-dashboard{
    position: relative; top: 30px; left: 135px;
    display: flex;
    font-size: 19px;
    width: 5px;
    height: 50px;
    cursor: pointer;
    font-weight: 600;
}

.conteudo{
    border: solid red 2px;
    background-color: rgb(255, 255, 255);
    width: 100vw; height: 100vh;
}

#street{
    width: 500px; height: 500px;
    position: relative; left: 300px;    
}

.conteudo > h1{
    border: solid red 2px;
    width: 600px; height: 450px;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    display: block;
    text-align: end;
}